@import 'bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-3;
}

a {
	color: $color-2;
	text-decoration: none;
}

img {
	max-width: 100%;
}

input {
	font-family: $primary-font;
	font-size: 1.6rem;
}

/* remove “X” from search input field */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

/* -------------------------------- 

Main Components 

-------------------------------- */

header {
	height: 100px;
	background: $color-3;
}

.cd-dropdown-wrapper {
	display: inline-block;
	position: relative;
	height: 40px;
	margin: 30px 0 0 5%; 
	@include font-smoothing;
}

.cd-dropdown-trigger {
	display: block;
	position: relative;
	padding: 0 36px 0 20px;
	line-height: 40px;
	background-color: $color-1;
	color: $color-3;
	border-radius: 3px;

	.no-touch &:hover {
		background-color: lighten($color-1, 5%);
	}

	&::before, &::after {
		/* this is the arrow inside the dropdown trigger*/
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -1px;
		height: 2px;
		width: 9px;
		background: $color-3;
		@include backface-visibility(hidden);
		
		@include transition(width .3s, transform .3s);		
	}

	&::before {
		right: 22px;
		@include transform(rotate(45deg));
	}
&::after {
		right: 17px;
		@include transform(rotate(-45deg));
	}
@include MQ(L) {
		font-size: 1.5rem;
&.dropdown-is-active {
			background-color: $color-2;
.no-touch &:hover {
				background-color: lighten($color-2, 5%);
			}
&::before, &::after {
				/* transform the arrow into a 'X' */
				width: 14px;
			}
&::before {
				/* transform the arrow into a 'X' */
				@include transform(translateX(5px) rotate(-45deg));
			}
&::after {
				/* transform the arrow into a 'X' */
				@include transform(rotate(45deg));
			}
		}
	}
}
.cd-dropdown h2, 
.cd-dropdown-content a, 
.cd-dropdown-content ul a {
height: 50px;
	line-height: 50px;
@include MQ(M) {
		height: 60px;
		line-height: 60px;
	}
@include MQ(L) {
		height: 50px;
		line-height: 50px;
	}
}
.cd-dropdown h2, 
.cd-dropdown-content a, 
.cd-dropdown-content ul a,
.cd-dropdown-content .cd-divider {
	padding: 0 20px;
}
.cd-dropdown {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
width: 100%;
	height: 100%;
	background-color: $color-1;
	color: $color-3;
	visibility: hidden;

	/* Force Hardware Acceleration */
	@include backface-visibility(hidden);
	@include transform(translateZ(0));
@include transform(translateY(-100%));
	@include transition(transform .5s 0s, visibility 0s .5s);

	
	h2 {
		/* dropdown title - mobile version only */
		position: relative;
		z-index: 1;
color: tint($color-1, 30%);
		background-color: $color-1;
		border-bottom: 1px solid tint($color-1, 8%);
	}
