@import 'bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-3;
}

a {
	color: $color-2;
	text-decoration: none;
}

img {
	max-width: 100%;
}

input {
	font-family: $primary-font;
	font-size: 1.6rem;
}

/* remove “X” from search input field */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

/* -------------------------------- 

Main Components 

-------------------------------- */

header {
	height: 100px;
	background: $color-3;
}

.cd-dropdown-wrapper {
	display: inline-block;
	position: relative;
	height: 40px;
	margin: 30px 0 0 5%; 
	@include font-smoothing;
}

.cd-dropdown-trigger {
	display: block;
	position: relative;
	padding: 0 36px 0 20px;
	line-height: 40px;
	background-color: $color-1;
	color: $color-3;
	border-radius: 3px;

	.no-touch &:hover {
		background-color: lighten($color-1, 5%);
	}

	&::before, &::after {
		/* this is the arrow inside the dropdown trigger*/
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -1px;
		height: 2px;
		width: 9px;
		background: $color-3;
		@include backface-visibility(hidden);
		
		@include transition(width .3s, transform .3s);		
	}

	&::before {
		right: 22px;
		@include transform(rotate(45deg));
	}
&::after {
		right: 17px;
		@include transform(rotate(-45deg));
	}
@include MQ(L) {
		font-size: 1.5rem;
&.dropdown-is-active {
			background-color: $color-2;
.no-touch &:hover {
				background-color: lighten($color-2, 5%);
			}
&::before, &::after {
				/* transform the arrow into a 'X' */
				width: 14px;
			}
&::before {
				/* transform the arrow into a 'X' */
				@include transform(translateX(5px) rotate(-45deg));
			}
&::after {
				/* transform the arrow into a 'X' */
				@include transform(rotate(45deg));
			}
		}
	}
}
.cd-dropdown h2, 
.cd-dropdown-content a, 
.cd-dropdown-content ul a {
height: 50px;
	line-height: 50px;
@include MQ(M) {
		height: 60px;
		line-height: 60px;
	}
@include MQ(L) {
		height: 50px;
		line-height: 50px;
	}
}
.cd-dropdown h2, 
.cd-dropdown-content a, 
.cd-dropdown-content ul a,
.cd-dropdown-content .cd-divider {
	padding: 0 20px;
}
.cd-dropdown {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
width: 100%;
	height: 100%;
	background-color: $color-1;
	color: $color-3;
	visibility: hidden;

	/* Force Hardware Acceleration */
	@include backface-visibility(hidden);
	@include transform(translateZ(0));
@include transform(translateY(-100%));
	@include transition(transform .5s 0s, visibility 0s .5s);

	
	h2 {
		/* dropdown title - mobile version only */
		position: relative;
		z-index: 1;
color: tint($color-1, 30%);
		background-color: $color-1;
		border-bottom: 1px solid tint($color-1, 8%);
	}
.cd-close {
		/* 'X' close icon - mobile version only */
		position: absolute;
		z-index: 1;
		right: 0;
top: 0;
		height: 50px;
		width: 50px;
/* image replacement */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		color: transparent;
&::after,
		&::before {
			/* this is the 'X' icon */
			content: '';
position: absolute;
			@include center;
			height: 20px;
width: 2px;
			background-color: $color-3;
		}
&::after {
			@include transform(translateX(-50%) translateY(-50%) rotate(45deg));
		}
&::before {
			@include transform(translateX(-50%) translateY(-50%) rotate(-45deg));
		}

	}
&.dropdown-is-active {
		visibility: visible;
		@include transform(translateY(0));
		@include transition(transform .5s 0s, visibility 0s 0s);
	}
@include MQ(M) {

		.cd-close {
			top: 5px;
		}
	}
@include MQ(L) {
		position: absolute;
		top: calc(100% - 2px);
		/* reset style*/
height: auto;
		width: auto;
		@include transform(translateX(0));
		background-color: $color-3;
color: $color-1;
		box-shadow: 0 4px 12px rgba(#000, .1);
		opacity: 0;
		@include transform(translateY(30px));
		@include transition(opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s);
.open-to-left & {
			/* use the .open-to-left class if you want to open the dropdown on the left */
			right: 0;
			left: auto;
		}
h2, .cd-close {
			/* on desktop - hide title and 'X' */
			display: none;
		}
&.dropdown-is-active {
			opacity: 1;
			@include transform(translateY(0));
			@include transition(opacity 0.3s 0s, visibility 0.3s 0s, transform 0.3s 0s);
		}
	}
}
.cd-dropdown-content, .cd-dropdown-content ul {
	position: absolute;
	top: 0;
	left: 0;
width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
@include transition(transform 0.3s);
	padding-top: 50px;

	a {
display: block;
		color: $color-3;
/* truncate text with ellipsis if too long */
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
border-top-width: 1px;
		border-color: tint($color-1, 8%);
		border-style: solid;
	}
li:first-of-type > a {
		border-top-width: 0;
	}
li:last-of-type > a {
		border-bottom-width: 1px;
	}
.cd-divider {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: shade($color-1, 30%);
		font-size: 1.1rem;
font-weight: bold;
		letter-spacing: 1px;
		color: tint($color-1, 30%);
		text-transform: uppercase;
	}
.cd-divider + li > a {
		border-top-width: 0;
	}
a, .cd-search, .cd-divider {
		/* Force Hardware Acceleration */
		@include transform(translateZ(0));
		@include backface-visibility(hidden);

		@include transition(opacity .3s, transform .3s);
	}
&.is-hidden {
		/* push the secondary dropdown items to the right */
		@include transform(translateX(100%));
	}
